extends layout

block content
  h1= title
  - let bats = results; 
  table(class="table table-stripped table-bordered")
        thead(style="background-color:yellow;") 
            tr
                td Bat ID
                td Bat Brand
                td Bat Cost
                td Bat Weight
        tbody 
            each bat in bats 
                tr
                    td #{bat._id}
                    td #{bat.batBrand}
                    td #{bat.batCost}
                    td #{bat.batWeight}